h1 {
  text-align:center;
}

#diceForm {
  text-align:center;
  width:100%;
}

#diceBox {
  margin:-20px auto 0 auto;
  width:100px;
  height:100px;
}


#showResult {
  margin:40px auto;
  font-size:24pt;
  text-align:center;
  background-color:transparent;
}

.hideme {
  color:white;
  text-indent:-100px;
}

.showme {
  color:black;
  text-indent:0px;
}

input {
  text-align:center;
  width:72pt;
  padding:10px;
  margin-bottom:12pt;
}

input#submit {
  margin-top:-12pt;
}

